

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
  
html {
    scroll-behavior: smooth;
}

/* #5c5c5c */

body {
    margin: 0;
    overflow-x: hidden;
    background: #b6b6ff;
    font-family: calibri;
}

.site-main {
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 5%;
    color: #fff;
    background: #222222;
    font-size: 20px;
}

.site-name {
    color: #4aa043;
    margin-left: 44%;
}

code {
    background: #3b3b3b;
}

.site-main .btext {
    margin-left: 38%;
    color: #ffd900;
}

.site-main a {
    text-decoration: none;
    color: #5555ff;
}

main {
    display: block;
  }

.site-main a:hover {
    text-decoration: underline;
    color: #8484ff;
}

.site-main p {
    margin-left: 15%;
}

.site-license {
    background: #141414;
    font-size: 15px;
}

.site-license p {
    margin-top: 5%;
    margin-left: 41%;
}

.site-license .text {
    margin-left: -13%;
}

.project {
    width: 10vh;
}

.project img {
    width: 100vh;
}

/* << NAVBAR >> */

.navbar {
	padding: 17px 20px;
	display: flex;
	background: #292929;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
}

.navbar a {
	position: relative;
	font-size: 1.5em;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 15px;
}

.navbar a:hover {
    text-decoration: none;
    color: #5555ff;
}